<template>
  <v-container fluid>
    <v-navigation-drawer app left>
      <SectorList
          :sectors="sectors"
          :selectedSector="selectedSector"
          @click="selectSector"></SectorList>
    </v-navigation-drawer>
    <SectorOverview :sector="selectedSector" :stocks="selectedStocks"></SectorOverview>
  </v-container>
</template>

<script>
import SectorList from "../components/SectorList";
import StockService from "../services/StockService";
import router from "../router";
import SectorOverview from "../components/SectorOverview";

export default {
  name: "Sectors",
  components: {SectorOverview, SectorList},
  data () {
    return {
      selectedSector: undefined,
      selectedStocks: undefined,
      sectors: undefined
    }
  },
  methods: {
    selectSector(sector) {
      router.push(`/sectors/${sector.id}`);
      this.selectedSector = sector;
      new StockService().getStocksBySector(sector.id).then(stocks => this.selectedStocks = stocks);
    }
  },
  mounted() {
    new StockService().getSectors().then(sectors => {
      this.sectors = sectors;
      this.sectors.forEach(sector => {
        if(sector.id === +router.currentRoute.params.id)
          this.selectSector(sector);
      });
    });
  }
}
</script>
