<template>
  <div style="height: 100%">
    <v-select :items="selectItems" item-text="text" item-value="value" v-model="selectedItem" @change="drawPlot"></v-select>
    <div ref="plot" style="height: inherit"></div>
  </div>
</template>

<script>
import Plotly from "plotly.js";
import StockService from "../services/StockService";

export default {
  name: "SectorsBoxplot",
  data() {
    return {
      sectors: undefined,
      selectedItem: "perf1month",
      selectItems: [
        { text: "Performance 1 Month", value: "perf1month" },
        { text: "Performance 6 Month", value: "perf6month" },
        { text: "Performance 1 Year", value: "perf1year" },
        { text: "Performance 3 Year", value: "perf3year" },
        { text: "Performance 5 Year", value: "perf5year" },
        { text: "Performance 10 Year", value: "perf10year" }
      ]
    }
  },
  methods: {
    async loadSectors() {
      let stockService = new StockService();
      let sectors = await stockService.getSectors();
      let promises = [];
      for(let sector of sectors) {
        promises.push(stockService.getStocksBySector(sector.id).then(stock => {
          sector["stocks"] = stock;
        }));
      }
      await Promise.all(promises);
      return sectors;
    },
    drawPlot() {
      let data = this.sectors.map(sector => {
        return {
          y: sector.stocks.map(stock => stock.performance[this.selectedItem]),
          name: sector.name,
          type: "box"
        }
      });
      Plotly.newPlot(this.$refs.plot, data, {margin: {b: 350}});
    }
  },
  async mounted() {
    this.sectors = await this.loadSectors();
    this.drawPlot();
  }
}
</script>
