<template>
  <v-data-table
      :loading="stocks === undefined"
      :headers="headers"
      :items="stocks"
      :items-per-page="100"
      class="elevation-5">
    <template v-slot:item.morningStarRating="{ item }">
      <v-icon v-for="i in item.morningStarRating" :key="i" small>mdi-star</v-icon>
    </template>
    <template v-slot:item.details="{ item }">
      <v-btn icon :href="`https://www.consorsbank.de/web/Wertpapier/${item.isin}`" target="_blank"><v-icon small>mdi-open-in-new</v-icon></v-btn>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "SectorStockTable",
  props: ["stocks"],
  data() {
    return {
      headers: [
        {text: '', value: 'name'},
        {text: 'ISIN', value: 'isin'},
        {text: 'Price', value: 'price'},
        {text: 'Currency', value: 'currency'},
        {text: 'Capitalisation', value: 'capitalisation'},
        {text: 'Morning Star', value: 'morningStarRating'},
        {text: '1 Month [%]', value: 'performance.perf1month'},
        {text: '6 Month [%]', value: 'performance.perf6month'},
        {text: '1 Year [%]', value: 'performance.perf1year'},
        {text: '3 Years [%]', value: 'performance.perf3year'},
        {text: '5 Years [%]', value: 'performance.perf5year'},
        {text: '10 Years [%]', value: 'performance.perf10year'},
        {text: 'Details', value: 'details'}
      ]
    }
  }
}
</script>
