<template>
  <v-data-table
      :headers="headers"
      :items="items"
      :items-per-page="100"
      class="elevation-5">
  </v-data-table>
</template>

<script>
export default {
  name: "SectorOverviewTable",
  props: ["sector"],
  data() {
    return {
      headers: [
        {text: '', value: 'name'},
        {text: '1 Month [%]', value: 'data.perf1month'},
        {text: '6 Month [%]', value: 'data.perf6month'},
        {text: '1 Year [%]', value: 'data.perf1year'},
        {text: '3 Years [%]', value: 'data.perf3year'},
        {text: '5 Years [%]', value: 'data.perf5year'},
        {text: '10 Years [%]', value: 'data.perf10year'}
      ]
    }
  },
  computed: {
    items() {
      return [
        { name: "Average Performance of Sector", data: this.sector.avgPerformance },
        { name: "Max Performance of Sector", data: this.sector.maxPerformance },
      ];
    }
  }
}
</script>
