<template>
  <div v-if="sector">
    <h1>{{ sector.name }}</h1>
    <SectorOverviewTable :sector="sector" class="margin"></SectorOverviewTable>
    <SectorStockTable :stocks="stocks" class="margin"></SectorStockTable>
  </div>
</template>

<script>
import SectorStockTable from "./SectorStockTable";
import SectorOverviewTable from "./SectorOverviewTable";
export default {
  name: "SectorOverview",
  components: {SectorOverviewTable, SectorStockTable},
  props: ["sector", "stocks"]
}
</script>

<style scoped>
.margin {
  margin-bottom: 2em;
}
</style>
