<template>
  <v-list>
    <v-list-item
        link
        v-for="sector of sectors"
        :key="sector.id"
        @click="$emit('click', sector)"
        :class="selectedSector !== undefined && sector.id === selectedSector.id ? 'grey lighten-2': ''">
      <v-list-item-content>{{ sector.name }}</v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>
export default {
  name: "SectorList",
  props: ["sectors", "selectedSector"]
}
</script>
